@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
  color: black;
}

.restaurant-img{
  width: 100%;
  height: auto;
  object-fit: fill;
  margin: 0;
  padding: 0;
}
.party-img{
  width: 100%;
  height: auto;
  object-fit: fill;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative;
  top: -50vh;
  left: 0;
}

.banner{
  position: absolute;
  top: 20%;
  left: 24%;
  padding: 2rem;
  background-color: black;
  color: antiquewhite;
}
.menu-img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.back-img{
  object-fit: fill;
  position: relative;
  top: -97vh;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}
.desc-container{
  margin: 2rem;
}
.menu-container{
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
  width: 100%;
  height: 110vh;
}
.btn-order{
  margin-top: 2rem;
}
.party-container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 60vh;
}
.btn-order{
  margin-right: auto;
  margin-left: auto;
}
.container-promo{
  margin-top: 50vh;
  background-color: black;
  color: wheat;
  justify-items: center;
  justify-content: center;
}
.person-img{
  width: 90%;
  height: 50vh;
  border-radius: 150px;
  object-fit: cover;
  padding: 1rem;
}
.div-promo{
  background-color: black;
}
.food-img{
  width: 90%;
  height: 50vh;
  object-fit: cover;
  padding: 1rem;
}
.promo-desc{
  color: red;
  text-transform: capitalize;
}
.promo-desc:hover{
  color: orangered;
}
.catering-img{
  width: 100%;
}
.catering-desc{
  text-align: center;
}
.catering-desc>h2{
  text-transform: capitalize;
}
.jumbotron-catering{
  max-height: 70vh;
  
}
.catering-img{
  width: 100%;
  max-height: 70vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  height: auto;
  object-fit: cover;
  opacity: 0.4;
}
.catering-desc{
  position: relative;
  top: -40vh;
  left: 0;
  z-index: 2;
}
.gallery-img{
  width: 100%;
}
.gallery-img:hover{
  filter: brightness(150%);
}
@media (min-width: 276px) {
  .banner{
    position: absolute;
    top: 36%;
    left: 24%;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.77rem;
  }
  .back-img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 1;
    opacity: 1;
    margin-bottom: 1rem;
  }
  .menu-container{
    height: auto;
  }
  .btn-order{
    position: relative;
    top: 5%;
    left: 39%;
  }
  .party-img{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
  }
  .btn-order{
    margin-top: 0.2rem;
  }
  .party-desc{
    color: black;
  }
  .container-promo{
    margin-top: 132vh;
  }
  .gallery-img{
    width: 100%;
    height: 40vh;
  }
}
@media (min-width: 376px){
  .banner{
    position: absolute;
    top: 36%;
    left: 24%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.87rem;
  }
  .menu-container{
    height: auto;
  }
  .btn-order{
    position: relative;
    top: 5%;
    left: 39%;
  }
  .party-img{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
  }
  .btn-order{
    margin-top: 0.2rem;
  }
  .party-desc{
    color: black;
  }
  .container-promo{
    margin-top: 102vh;
  }
}
@media (min-width: 400px) {
  .container-promo{
    margin-top: 92vh;
  }
}
@media (min-width: 576px) {
  .banner{
    position: absolute;
    top: 36%;
    left: 25%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    font-size: 1.3rem;
  }
  .back-img{
    position: relative;
    top: -50vh;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
  }
  .menu-container{
    height: auto;
  }
  .back-img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: 1;
    opacity: 1;
    margin-bottom: 1rem;
  }
  .btn-order{
    position: relative;
    top: 5%;
    left: 41%;
  }
  .party-img{
    position: relative;
    top: -110vh;
    left: 0;
    height: 105vh;
  }
  .btn-order{
    margin-top: 0.2rem;
  }
  .party-desc{
    margin: 2rem;
    color: azure;
    z-index: 1;
  }
  .container-promo{
    margin-top: 52vh;
  }
}


@media (min-width: 768px) { 
  .banner{
    position: absolute;
    top: 32%;
    left: 26%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 2rem;
 }
 .back-img{
  position: relative;
  top: -95vh;
  left: 0;
  width: 100%;
  height: 93vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  margin-bottom: 1rem;
}
.menu-container{
  height: 95vh;
}
.btn-order{
  position: relative;
  top: 5%;
  left: 43%;
}
.party-img{
  position: relative;
  top: -78vh;
  left: 0;
}
.btn-order{
  margin-top: 0.6rem;
}
.party-desc{
  margin: 2rem;
  color: azure;
  z-index: 1;
}
}

@media (min-width: 992px) { 
  .banner{
    position: absolute;
    top: 38%;
    left: 27%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 2.5rem;
 }
 .back-img{
  position: relative;
  top: -85vh;
  left: 0;
  width: 100%;
  height: 87vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  margin-bottom: 1rem;
}
.menu-container{
  height: 85vh;
}
.btn-order{
  position: relative;
  top: 5%;
  left: 43%;
}
.party-img{
  position: relative;
  top: -62vh;
  left: 0;
}
.btn-order{
  margin-top: 1rem;
}
.party-desc{
  margin: 2rem;
  color: azure;
  z-index: 1;
}
}

@media (min-width: 1200px) { 
  .banner{
    position: absolute;
    top: 38%;
    left: 29%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 2.5rem;
 }
 .back-img{
  position: relative;
  top: -79vh;
  left: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  margin-bottom: 1rem;
}
.menu-container{
  height: 80vh;
}
.btn-order{
  position: relative;
  top: 5%;
  left: 45%;
}
.party-desc{
  margin: 2rem;
  color: azure;
  z-index: 1;
}
.container-promo{
  margin-top: 40vh;
}
}

@media (min-width: 1400px) {
  .banner{
    position: absolute;
    top: 40%;
    left: 32%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 2.7rem;
 }
 .btn-order{
  position: relative;
  top: 5%;
  left: 48%;
}
.party-desc{
  margin: 2rem;
  color: azure;
  z-index: 1;
}
.container-promo{
  margin-top: 30vh;
}
}